
<h1>Edit Product</h1>
<form [formGroup]="productFormEdit" (ngSubmit)="submit()">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <header>
          <div class="form-group">
            <div class="form-control edit">
              <label>Name:</label>
              <input class="form-control" formControlName="name">
              <label>Price:</label>
              <input class="form-control" formControlName="price">
              <label>Star:</label>
              <input class="form-control" formControlName="star">
            </div>
          </div>
          <button class="btn btn-primary">Update</button>
          <button class="btn btn-black" routerLink="/products">Cancel</button>
        </header>
      </div>
    </div>
  </div>
</form>
