<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-light" style="background-color: #0098ff">
        <div class="col-1">
        <a routerLink="/products">
          <img class="logo" src="logo_watch.png">
        </a>
        </div>
        <div class="col-3">
          <input class="form-control search" type="text" placeholder="Search..." (keyup)="productFilter($event)">
        </div>
        <div class="col-8"></div>
      </nav>
    </div>
  </div>
</div>

